extends layout

block content
  .big-header-thing

  :markdown

    # What is Tentoring?

    Tentoring is shorthand for ten-minute mentoring delivered through the
    web.

    We know that mentoring and peer support is very effective in helping
    people develop and achieve their goals, whether it is starting a
    business or finding a job.

    But it can also be time-consuming for the mentor, tricky to manage
    and difficult to find people who can provide relevant and useful advice
    to the mentee.

    Tentoring provides a solution: a simple web service to give and get
    quality mentor advice. It opens up networks for the good of everyone!

    Tentoring is a project from Remy and Tom and Steve H at Swarm. It
    has received generous support from Do Lectures and Unltd's Spark
    programme.

    # How it works

  ol#how
    li: h2 Sign up
      p Users sign up to the platform, filling in your interests and sectors. If you want to answer other people's questions, select your key skills
    li: h2 Ask a question
      p Ask a question on the Tentoring platform. Make it clear, and concise. We've provided some example of the types of questions that work best here
    li: h2 Get a question
      p The Tentoring platform matches your question with people who has the skills to answer it and send them an invitation to answer it
    li: h2 Answering a question
      p When you receive a question from Tentoring via email you have the option to answer it or to decline (if you're too busy or don't think the question is quite right. You can also forward it on to someone in your network who you think is suitable. Answers are anonymous, but mentors have the option to make themselves available for follow-on contact
    li: h2 Get an answer
      p When a mentor answers your question you will receive an email. Informing you. You can thank the mentor for the answer and if they have indicated that they're happy to talk more, we can send an email to introduce you