extends layout

block content
  h1.lead Ask a mentor a question
  p We'll email it to a mentor. You'll get ten minutes of their time.
  p Make it clear. Keep it short. Give some context.

  form(method="post", action="/ask")
    fieldset
      .row
        .large-12.columns
          label(for="skill") This is a question about:
      .row
        .large-12.columns
          select(name="skill")
            each skill in skills
              option(value=skill)= skill
      .row
        .large-12.columns#ask_box
          textarea.ask(name="question", autofocus=true, placeholder="How do I...", required=true)
          input.button.expand.large.success(type="submit", value="Send my ten minute question")
