extends layout

block content
  h1.lead Ask a mentor a question
  p We'll email it to a mentor. You'll get ten minutes of their time.
  p Make it clear. Keep it short. Give some context.

  form(method="post", action="/ask")
    fieldset
      div.row
        div.large-12.columns
          label(for="tag") This is a question about:
      div.row
        div.large-12.columns
          select(name="tag")
            each tag in settings.tags
              option(value=tag)= tag
      div.row
        div.large-12.columns#ask_box
          textarea.ask(name="question", autofocus=true, placeholder="How do I...")
          input.button.expand.large.success(type="submit", value="Send my ten minute question")
