extends layout

block content
  .big-header-thing

  :markdown
    # Asking the right questions

    In order to get the most out of Tentoring, we've provided a few examples of which questions work well and which questions less so.

    ## Have a clear ask

    Make sure that you keep your ask focused and succinct

    Good: I have recently hired my first employee. I tend to be a bit of a control freak but I really want to give my new hire the freedom to drive things. I am looking for 2-3 pieces of advice in terms of day to day management, communication, and delegation that I can use to make the relationship work

    Not so good: How do I manage my team?

    ## Provide some context

    It will be easier for a mentor to understand your situation if you give them some background to yourself, your business and/or your challenge, depending on the nature of your question

    Good: I am setting up a business in the food industry. It makes preserves from food waste at supermarkets. I currently sell these products in a market stall but am looking at other channels. What are examples of great social enterprises (or other businesses) that have managed to diversify in this way? How did they go about doing it?

    Not so good: What are the best social enterprises working in the food industry?

    ## Be realistic

    Tentoring works best when questions are broad enough for mentors are given the opportunity to share experiences and skills. The narrower the focus

    Good: I am starting a business that provides mentorship services and peer support in schools. I am looking for contacts in the education space who might be useful – teachers, heads and deputy heads and larger organisations.

    Not so good: Can you get me the name and number of the marketing director at Tesco

    ## Be appreciative of what might be off limits

    Mentors are giving up their time to help you but there are limits. Steer clear of making asks to personal or asking for confidential or sensitive information

    Good: I am trying to understand more about the social housing market. In particular I am looking at innovative business models in the UK and abroad. If anyone can point me in the right direction, I would be very appreciative!

    Not so good: Can anyone share any up to date P&L or cashflow information from any of the social property funds operating in the market at the moment?