extends layout

block content
  .big-header-thing

  :markdown
    ## Contact Us

    Have some feedback on Tentoring?

    Want to find out how you can use a whitelabel version to support a community that you are a part of?

    Want to know more about us?

    Get in touch at: [info@tentoring.com](mailto:info@tentoring.com)