extends layout

block content
  .big-header-thing
    h1
      span.ten Ten
      span toring
    h2 Nice to see you're back
    p.centered
      |  <a class="button success" href="/ask">Ask someone a question?</a>
    p.centered
      |  Or go look at a <a href="/cat">cat</a>.
    .trailer