extends layout

block content
  .big-header-thing
    h1= settings.title
    h3 Startup people giving each other ten minutes.
    p Ask a quick question. We email one of our mentors. They get ten minutes to answer.

  form(method="post", action="/")
    div.row
      div.large-8.columns.large-offset-2
        div.row.collapse
          div.small-3.large-2.columns
            label(for="email") Email
          div.small-9.large-10.columns
            input#email(name="email", type="email", required=true)
        div.row.collapse
          div.small-3.large-2.columns
            label(for="name") Name
          div.small-9.large-10.columns
            input#name(name="name", type="text", required=true)
        div.row.collapse
          div.small-3.large-2.columns
            label(for="tags") Skills
          div.small-9.large-10.columns
            select.chosen(multiple="true",name="tags")
              option(value="Funding") Funding
              option(value="Legal") Legal
              option(value="Technology") Technology
              option(value="Design") Design
              option(value="Marketing") Marketing
              option(value="Product") Product
              option(value="Social") Social
              option(value="Government") Government
              option(value="Introductions") Introductions
              option(value="Strategy") Strategy
              option(value="Cats") Cats
        div.row.collapse
          p
            &nbsp;
          p
            input.button.large.success.expand(type="submit", value="Join in!")
          p
            &nbsp;
          p
            :markdown
              A hack by [Remy](http://twitter.com/rem), [Stef](http://twitter.com/stef) and friends at [Do Startup](http://dolectures.co.uk), 2013 in Wales.
