extends layout

block content
  .big-header-thing
    h1
      span.ten Ten
      span toring
    h2.strapline Ten minute mentoring.

    p
      | Mentoring can take time. With Tentoring it only takes ten minutes.
      | <br>
      | Everyone is a mentor. Give and get advice in a ten minute window.

  form(method="post", action="/")
    div.row
      div.large-8.columns.large-offset-2
        div.row.collapse
          div.small-3.large-2.columns
            label(for="email") Email
          div.small-9.large-10.columns
            input#email(name="email", type="email", required=true)
        div.row.collapse
          div.small-3.large-2.columns
            label(for="name") Name
          div.small-9.large-10.columns
            input#name(name="name", type="text", required=true)
        div.row.collapse
          div.small-3.large-2.columns
            label(for="tags") Skills
          div.small-9.large-10.columns
            select.chosen(multiple="true",name="tags",data-placeholder="Select your skills")
              option(value="Funding") Funding
              option(value="Legal") Legal
              option(value="Technology") Technology
              option(value="Design") Design
              option(value="Marketing") Marketing
              option(value="Product") Product
              option(value="Social") Social
              option(value="Government") Government
              option(value="Introductions") Introductions
              option(value="Strategy") Strategy
              option(value="Cats") Cats
        div.row.collapse
          p
            &nbsp;
          p
            input.button.large.success.expand(type="submit", value="Join in!")
          p
            &nbsp;
          p
            :markdown
              A hack by [Remy](http://twitter.com/rem), [Stef](http://twitter.com/stef) and friends at [Do Startup](http://dolectures.co.uk), 2013.
