doctype
html
  head
    meta(charset="utf-8")
    title= title ? title : settings.title
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/chosen.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel="shortcut icon", href="/im/pie-57.png")
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="/im/pie-57.png")

    if css
      style!= css

    block header
  body
    div.row.main
      div.large-8.large-centered.columns.small-12.columns
        .main-body.row
          .large-12.columns
            block content

          nav.large-12.columns
            ul
              li: a(href="/") Tentoring
              li: a(href="/asking-questions") How to ask questions
              li: a(href="/about") What is Tentoring?
              li: a(href="/contact") Contact us
  script(src="/js/foundation/jquery.js")
  script(src="/js/foundation/foundation.js")
  script(src="/js/chosen.jquery.min.js")
  script(src="/js/app.js")
  script(src="//use.typekit.net/ypb3jtq.js")
  script.
    try{Typekit.load();}catch(e){}
  <!-- version #{settings.version} -->
