doctype 5
html
  head
    meta(charset="utf-8")
    title= settings.title
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/chosen.css')
    script(type="text/javascript", src="//use.typekit.net/ypb3jtq.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}
  body
    div.row.main
      div.large-8.large-centered.columns.small-12.columns
        .main-body.row
          .large-12.columns
            block content
  script(src="/js/foundation/jquery.js")
  script(src="/js/foundation/foundation.js")
  script(src="/js/chosen.jquery.js")
  script(src="/js/foundation/app.js")