extends layout

block content
  h1 How do I #{text}
  h2 Time left: 
    span#counter 10:00
  form#countdown(method="post", action="/reply")
    fieldset
      div.row.collapse
        div.large-12#ask
          textarea.reply(name="reply", autofocus=true, placeholder="...")
          input(type="submit", value="Bosh.")