extends layout

block content
  h3
    #{text}
  h2 Time left:
    span#counter 10:00
  form#countdown(method="post", action="/reply")
    fieldset
      div.row
        div.large-12.columns#ask_box
          textarea.reply(name="reply", autofocus=true, placeholder="...")
          input.button.large.expand.success(type="submit", value="Send my reply")