extends layout

block content
  h1 Please answer this question
  #{text_md}
  p Asked by #{by.name}
  h2 Time left: 
    span#counter 10:00
  form#countdown(method="post")
    fieldset
      div.row
        div.large-12.columns#ask_box
          textarea.reply(name="reply", autofocus=true, placeholder="...")
          input.button.large.expand.success(type="submit", value="Send my reply")