extends layout

block content
  h1.lead Hey! Nice to have you with us
  p.centered
    |  <a class="button success" href="/ask">Ask someone a question?</a>
  p.centered
    |  Or go look at a <a href="/cat">cat</a>.
  .trailer