extends layout

block content
  h1.lead Amazing. The cat says thank you!
  img.fail(src="http://thecatapi.com/api/images/get?format=src&type=jpg")
  .middle.dropped
    p You might want to follow up via email: #{by.email}
  .trailer