#ask {
  font-size: 88px;
}

#ask textarea,
#ask textarea:active {
  border: 0;
  box-shadow: none;
  background: #fff;
  font-size: 88px;
}

.main {
  margin-top: 4em;
}

.main-body {
  border: 1px solid #d8d5d2;
  background-color: white;
}

body, html {
  background-color: #e8e5e2;
}