#ask {
  font-size: 88px;
}

#ask p {
  margin-bottom: 0;
}

#ask textarea,
#ask textarea:active {
  border: 0;
  /*box-shadow: none;*/
  /*background: #fff;*/
  font-size: 88px;
}

.main {
  margin-top: 4em;
}

.main-body {
  border: 1px solid #d8d5d2;
  background-color: white;
}

.big-header-thing {
  margin-bottom: 2em;
  text-align: center;
}

.big-header-thing h1 {
  font-size: 480%;
  color: #22d736;
}

.chzn-container .chzn-choices .search-field {
  padding: 7px !important;
}

html {
  background-image:url(/im/us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  background-color: transparent;
  min-height: 100%;
}

label, p {
  font-size: 1.2rem;
}

