#ask {
  font-size: 88px;
}

#ask p {
  margin-bottom: 0;
}

#ask textarea,
#ask textarea:active {
  border: 0;
  /*box-shadow: none;*/
  /*background: #fff;*/
  font-size: 88px;
}

#ask_box textarea{
  font-size: 24px;
  min-height: 16em;
}

.main {
  padding: 4em 0;
}

.main-body {
  border: 1px solid #d8d5d2;
  background-color: rgba(255, 255, 255, 0.88);
}

.big-header-thing {
  margin-bottom: 2em;
  text-align: center;
}

.big-header-thing h1 {
  font-size: 480%;
  color: #22d736;
  margin-top: 0.5em;
}

.big-header-thing h1 span.ten {
  color: #3f783c;
}

.pie {
  background-image: url(/im/pie.png);
  width: 2.1rem;
  height: 3.6rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.chzn-container .chzn-choices .search-field {
  padding: 7px !important;
  width: 100% !important;
}

html {
  background-image:url(/im/us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

body {
  background-color: transparent;
  min-height: 100%;
}

label, p {
  font-size: 1.2rem;
}

h1.lead {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.fail {
  min-width: 100%;
  margin-bottom: 20px;
}

.lefted {
  text-align: left;
}
